{% extends 'myblog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
{% endfor %}
{% endif%}
<div class="content-section">
    <div class="media">
        <img src="{{ user.profile.image.url }}" class="rounded-circle account-image">
        <div class="media-body">
            <h3 class="account-heading">{{ user.username }}</h3>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
</div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token%}
    {{ u_form| crispy }}
    {{ p_form| crispy }}
    <button type="submit">Update</button>
</form>
{% endblock %}